body {
    padding: 1px;
    height:100%;
    cursor: url("assets/cursor.cur") 10 10, auto;
    background: linear-gradient(150deg,#ffebdb, #ffd8d4,#e8d5ff);
    animation: gradient-animation 6s ease infinite;
    }

    @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

      #backgrounddots {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: -2;
        top: 0;
        left: 0;
        background-image: radial-gradient(white 6%, transparent 10%),
            radial-gradient(white 6%, transparent 10%);
        background-color: transparent;
        background-size:40px 40px; /* dot size */
        animation-name: backgroundmovement;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
     }
    
     @keyframes backgroundmovement {
        0% {
      background-position: 0px 0px, 60px 60px;
           }
       100% {
      background-position: 60px 60px, 120px 120px;
     }
    }

/* ================== FONTS ===================== */

.darumadrop-one-regular {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.bungee-shade-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

/* ===================== INTRO ===================== */

#manualdiv {
    position: absolute;
    z-index: 15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #fff;
    transition: transform 1s ease-in-out;
}

#manual2 {
    height: 80%;
}

#manual-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #95b6e16f;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 2vw;
    font-family: 'Darumadrop One';
    cursor: none;
    transition: all 0.3s ease-in-out;
    margin-top: 1vw;
    padding-bottom: 1vw;
    width: 20vw;
}

#manual-btn:hover {
    background-color: #95b6e1;
    transform: scale(1.05);
}

#intro {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transition: transform 1s ease-in-out;
}

#intro.hide {
    transform: translateY(100%);
}

#intro h2 {
    font-size: 3vw;
    font-family: 'Darumadrop One';
    letter-spacing: 2px;
    color: #6ea7e0;
    margin: 0;
    text-align: center;
}

#intro-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#cookievan {
    display: flex;
    width: 30vw;
    margin: auto;
    margin-top: 30px;
    animation: breath 3s forwards infinite;
    
}

#cookievan:hover {
    animation: none;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

@keyframes breath {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


#directions {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #95b6e16f;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 3vw;
    font-family: 'Darumadrop One';
    cursor: none;
    transition: all 0.3s ease-in-out;
    margin-top: 1vw;
    padding-bottom: 1vw;
    width: 5vw;
    height: 5vw;
    top: 5%;
    right: 5%;
}

#directions:hover {
    background-color: #95b6e1;
    transform: scale(1.05);
}

#howtoplay {
    margin-left: 40vw;
    display: none;
}
#manual {
    position: absolute;
    top: 0;
    right: 3vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#manual-text {
    position: absolute;
    right: 23vh;
    top: 20%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 1.5vw;
    font-family: 'Darumadrop One';
    line-height: 1.3;
    gap: 20px;
    color: #506E87;
}

#manual-text p {
    margin: 10px 0;
}

/* ==================== TOOLBAR AND SIDEBAR ==================== */

#toolbar {
    position: fixed;
    height: 90%;
    width: 5%;
    min-width: 60px;
    z-index: 1;
    top: 5vh;
    right: 2vw;
    background-color: white;
    border-radius: 20px;
    opacity: 0.8;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35vh;
}

#volume-text {
    width: 30vh;
    font-size: 1vw;
    font-family: monospace;
    color: #c38cb6;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 30px 0px;
    padding: 0.5vw;
    transform: rotate(90deg);
    bottom: -2vw;
    
}

#elapsed {
    width: 30vh;
    font-size: 1vw;
    font-family: monospace;
    color: #9a90ae;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 30px 0px;
    padding: 0.5vw;
    transform: rotate(90deg);
    bottom: -2vw;
}

@media screen and (max-width: 1000px) {
    #sidebar {
        display: none;
    }
}

#sidebar {
    position: fixed;
    gap:10vw;
    height: 90%;
    width: 28vw;
    min-width: 300px;
    background-color: transparent;
    left: 5%;
    top: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vw;
}

#tablet {
    background-color: white;
    width: 100%;
    height: 45vw;
    top: 0;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#tablet-inner {
    background-color: #FAF7FF;
    width: 92%;
    height: 95%;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#tablet-top {
    font-size: 2vw;
    font-family: Darumadrop One;
    color: #bab0d5;
    text-align: left;
    margin: 0 2vw;
    margin-top: -1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    margin: 0.5vw 0;
}

#battery-img {
    width: 4vw;
    margin-top: 0.5vw;
}

#notif-cont {
    background-color: #EAECFF;
    width: 80%;
    height: 18vw;
    left: 10%;
    border: 0px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 1vw;
    scroll-behavior: smooth;
}

#notif-cont::-webkit-scrollbar {
    display: none;
}

.notif {
    width: 90%;
    height: 20%;
    margin-bottom: 2vh;
    opacity: 0.9;
}

.notif-text {
    font-size: 0.8vw;
    font-family: monospace;
    color: #9a90ae;
    background-color: white;
    text-align: center;
    margin-top: 1.3vw;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 30px 0px;
    padding: 0.5vw;
    animation: newNotif 1s ease-in-out;
}

@keyframes newNotif {
    from {
        background-color: #b6bbec;
        color: white;
        transform: scale(0.9);
        }
    to { background-color: white; }
}

#calculator {
    background-color: #EAECFF;
    width: 80%;
    height: 12vw;
    left: 10%;
    border: 0px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2vw;
}

#calc-title {
    font-family: monospace;
    font-size: 1vw;
    padding-top: 10px;
    color: #9187a6;
    
}

#calc-container {
    background-color: white;
    width: 88%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.addon-item {
    background-color: #e7e8f3;
    width: 4vw;
    height: 4vw;
    margin-left: 0.7vw;
    border-radius: 5px;
}

.addon-item-img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addon-item-img img {
    height: 100%;
    object-fit: contain;
}

.addon-item-price {
    background-color: white;
    border-radius: 5px;
    width: 40%;
    margin-left: 25%;
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: rgb(161, 163, 209);
    padding: 2px 3px;
}
.addon-item-price img {
    width: 70%;
    object-fit: cover;
}

#addon-total {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: monospace;
    font-size: 1vw;
    color: #827896;
    font-weight: bold;

}

#needs {
    background-color: #ffffff;
    width: 100%;
    height: 7vw;
    left: 10%;
    border: 0px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 30px 0px;
    
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.wiggle {
    animation: wiggle 0.5s ease-in-out infinite;
}

#seeds-info {
    width: 50%;
    height: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    font-family: Darumadrop One;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #9d7a6e;
}

#seeds-info img {
    height: 50%;
    object-fit: cover;;
}

#hunger-info {
    width: 50%;
    height: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    font-family: Darumadrop One;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 35px;
    color: #e490b0;
}

#hunger-info img {
    height: 50%;
    object-fit: cover;;
}

/* ==================== MAIN DIV ==================== */

.container {

    position: relative;
    width: 50vw;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh auto;
    margin-bottom: 2vw;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    background-color: white;
    left: 13vw }

    @media screen and (max-width: 1000px) {
        .container {
            display: none;
        }
    }

.header {

    position: relative;
    text-align: center;
    align-items: center;
    height: 20vw;
    width: 100%;
    
}

.header img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.subtitle {

    position: absolute;
    text-align: center;
    width: 100%;
    height: 3vw;
    margin: auto;
    margin-top: -5px;
    font-size: 1vw;
    font-weight: bold;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(244, 174, 187);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.menu {

    text-align: left;
    width: 100%;
    padding: 4vw;

}
  
#sectiontitle {

    font-size: 3vw;
    width: 80%;
    font-weight: bold;
    font-family: Bungee Shade;
    color: #c96b79e9;
    text-align: center;
    margin: 2vw auto;
    margin-bottom: 3vw;
    line-height: 60px;
    letter-spacing: 1px;
    

}

.item-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 4vw;
    gap: 20px;
    width: 85%;
    box-sizing: border-box;
    cursor: none;

}

.item {
    
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px;
    background-color: #fffdfc;
    border: 4px solid #fffdfc;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.2s;
    cursor: none;

}

.item:hover {
    transform: scale(1.03);
    border: 4px solid #e092a6;  
}

.box {

    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    border: 0px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    overflow: hidden;

}

.box img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.name {

    font-size: 1.5vw;
    font-weight: bold;
    color: #a24262;
    text-align: left;
    white-space: nowrap;

}

.desc {

    font-size: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #c86e85;
    white-space: normal;
    text-align: center;

}

.footer {

    position: relative;
    width: 49vw;
    left: -3vw;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 0.5vw;
    padding-top: 1.5vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 1vw;
    font-family: monospace;
    font-weight: bold;
    color: #c07a95;
    background-color: white;

}

.footer p {
    display: inline;
    margin-right: 1vw;
}

.okbutton {

    appearance: none;
    background-color: white;
    border: 0px solid;
    border-radius: 5px;
    box-sizing: border-box;
    color: #c07a95;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8vw;
    font-weight: bold;
    margin-bottom: 1vw;
    padding: 5px;
    text-align: center;

}

.okbutton:hover {
    
  color: #fff;
  background-color: #c07a95;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  cursor: none;

}

/* =================== BAKED =================== */

.purchase {
    text-align: left;
    height: 34vw;
    width: 100%;
    padding: 4vw;
    display: none;
}

.thankyou {

    width: 55%;
    text-wrap: wrap;
    line-height: 2;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: monospace;
    color: #eb95ab;
    text-align: center;
    margin: auto;
    margin-top: 3vw;
    animation: fade 0.5s forwards;
    transition: 0.5s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes slide {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0%);
    }
}

.bakingDisplay {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -2vw;
}

.ovencontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: 0;
    transform: translateY(-100px);
}

.bakingDisplay .ovencontainer img {
    width: 100%;
    object-fit: contain;
    animation: grow 3s forwards;
    position: absolute;
    top: 0;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(0);
    }
    18% {
        transform: scale(1.05);
    }
    20% {
        transform: scale(1);
    }
    88% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(0);
    }
}

/* ======================== BOTTOM ; FOOTER , RECEIPT , ETC =========================== */

.bottom-container {

    background-color: transparent;
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* ==================== STATS ==================== */

.stats {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stats {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: -5vw;

}

.receipt-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    animation: slide 0.5s forwards;
    
}

.statsreceipt { /* svg file */
    width: 70%;
    height: auto;
    object-fit: contain;    
    margin: auto;
    margin-top: 15%;
    margin-bottom: -50%;
}

.stats-container {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -15vw;
    background-color: transparent;
    overflow: auto;

}

.receipt-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3vw;
    padding: 0px;
    background-color: transparent;
    margin-bottom: 1vw;
}

.receipt-top p {
    font-size: 1.5vw;
    font-weight:lighter;
    font-family: monospace;
    text-align: left;
    letter-spacing: 1vw;
    color: #fff;
}

#result {
    font-size: 1.5vw;
    font-weight:lighter;
    font-family: monospace;
    text-align: left;
    letter-spacing: 1vw;
    color: #bad2f0;
}

.receipt-middle {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 1vw;
    width: 100%;
    padding: 2vw 0;
    gap: 1vw;
    font-size: 1.3vw;
    font-weight: bold;
    font-family: monospace;
    gap: 1.5vw;
    margin-bottom: 1.5vw;
    color: #7693AB;

}

#difference {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1vw;
    color: #7693ab6a;
}

#satisfaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1vw;
}

.stats-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 5vw;
    width: 100%;
    padding: 4vw 3.5vw;
    gap: 2vw;
    background-color: #f6fbff;
    font-size: 1vw;
    font-weight: light;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #506E87;

}

.progress {
    width: 70%;
    border-radius: 10px;    
    height: 1vw;
}

.progress::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 0px;
}

.progress::-webkit-progress-value {
    background-color: #FFEEE0;
    border-radius: 0px;
}

#aroma {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#crunch {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#flavor {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#message {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 1vw;
    width: 100%;
    padding: 1vw 0;
    margin: 3vw 0;
    background-color: #ffffff;
    font-size: 1.2vw;
    font-weight: bold;
    font-family: monospace;
    color: #e7a099;
}

#decision {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 1vw;
    width: 100%;
    padding: 1vw 0;
    margin: 3vw 0;
    background-color: transparent;
    gap: 2vw;

}

#sell {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-weight: normal;
    font-family: monospace;
    text-align: right;
    color: #ffffff;
    background-color: #a4c8e5;
    padding: 0.7vw 1.5vw;
    pointer-events: auto;
}

#sell.disabled {
    background-color: #d3d3d3;
    color: #a0a0a0;
    pointer-events: none;
    cursor: not-allowed;
}

#sell:hover {
    color: #a4c8e5;
    background-color: white;
    cursor: none;
    transform: translateY(-0.3vw);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
    transition: 0.1s ease-in-out;
}

#sell.disabled:hover {
    transform: none;
    box-shadow: none;
    color: #a0a0a0;
    background-color: #d3d3d3;
}

#eat {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-weight: normal;
    font-family: monospace;
    text-align: right;
    color: #ffffff;
    background-color: #a4c8e5;
    padding: 0.7vw 1.5vw;
    pointer-events: auto;
}

#eat:hover {
    color: #a4c8e5;
    background-color: white;
    cursor: none;
    transform: translateY(-0.3vw);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
    transition: 0.1s ease-in-out;
}
/* ==================== MENU ======================= */

.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-bottom: 3vw;
}

.skipbutton {
    display: none;
}

.nav-btn {
    background-color: white;
    border: 0px solid;
    border-radius: 5px;
    box-sizing: border-box;
    color: #c07a95;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    font-weight: bold;
    padding: 8px 15px;
    text-align: center;
    transition: all 0.2s ease;
}

.nav-btn:hover {
    color: #fff;
    background-color: #e99eb0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    cursor: none;
}

#bake-btn {
    display: none;
}

.bake-style {
    color: #fff;
    background-color: #b3ceee;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    
}

.bake-style:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    color: #fff;
    background-color: #a5c4e7;
    cursor: pointer;
}

#signature {
    position: absolute;
    width: 30vw;
    margin: auto;
    margin-top: 30px;
    margin-left: 10vw;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* ====================== SECTION ======================= */

.addon-container {
    background-color: transparent;
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    gap: 50px;
}

.addon {
    background-color: rgba(255, 246, 247, 0.44);
    backdrop-filter: blur(2px);
    width: 40%;
    height: 300px;
    border: #f7c3d0 5px solid;
    border-radius: 20px;
    box-shadow: rgba(193, 9, 37, 0.1) 0px 2px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.addon:hover {
    transform: scale(1.05);
    box-shadow: rgba(193, 9, 37, 0.2) 0px 2px 10px;
    z-index: 10;
}

.addon:hover .addon-img img {
    transform: scale(1.1) rotate(10deg);
    transition: 0.5s ease-in-out;
}

.addon-img {
    position: absolute;
    overflow: hidden;
    z-index: 5;
}

.addon-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

#mistimg {
    width: 9.5vw;
    bottom: -4vw;
    right: -4vw;
    transform: rotate(10deg);
}

#jarimg {
    width: 14vw;
    bottom: -4vw;
    right: -5vw;
    transform: rotate(10deg);
}

#chillimg {
    width: 12vw;
    bottom: -4vw;
    right: -5vw;
}

#heatimg {
    width: 12vw;
    bottom: -4vw;
    right: -5vw;
}

#dustimg {
    width: 12vw;
    bottom: -5vw;
    right: -5vw;
}
#fillingimg {
    width: 13vw;
    bottom: -5vw;
    right: -5vw;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.significance {
    display: flex;
    justify-content: baseline;
    gap: 5px;
    margin-top: 15px;
    font-family: monospace;
    font-size: 0.7vw;
    color: #f0ad81;
    font-weight: bold;

}

.price {
    display: flex;
    justify-content: baseline;
    gap: 5px;
    font-family: monospace;
    font-size: 0.7vw;
    color: #bb8f81;
    font-weight: bold;
}
.effect-img, .seed-img {
    width: 20px;
}


.info {
    display: flex;
    flex-direction: column;
    margin: auto 32px;
    text-align: left;
    line-height: 25px;
    
}

.addon-desc {
    font-size: 0.85vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d68a9d;
    white-space: normal;
}

.info-container .name {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    line-height: 35px;
}

#gameover {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(215, 179, 156, 0.5);
    backdrop-filter: blur(5px);
    z-index: 15;
}

#gameover h2 {
    font-size: 3vw;
    font-family: 'Darumadrop One';
    letter-spacing: 2px;
    color: #e06e89;
    margin: 0;
}

#gameover-cont {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px;
    padding: 2vw 4vw;
    gap: 1vw;
}

#gameover-inner {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameover-inner p {
    font-size: 2vw;
    font-family: 'Darumadrop One';
    letter-spacing: 2px;
    color: #e195a7;
    line-height: 1;
    margin: 0;
    margin-bottom: 2vw;
}

#gameover-img {
    position: absolute;
    width: 23%;
    object-fit: cover;
    bottom: 20%;
    right: 15%;
}

#restart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e195a7;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    width: 10vw;
    font-size: 1.5vw;
    font-family: 'Darumadrop One';
    cursor: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1.2vw;
    padding-bottom: 1vw;
}

#restart:hover {
    background-color: #e06e89;
    transform: scale(1.05);
}

