
body {
    height:100%;
    cursor: url("assets/cursor.cur") 10 10, auto;
    background: linear-gradient(150deg,#ffebdb, #ffd8d4,#e8d5ff);
    animation: gradient-animation 6s ease infinite;
    }

    @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    
.container {

    position: relative;
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh auto;
    margin-bottom: 1vw;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    background-color: white;
    /* left: 15vw */}

.header {

    position: relative;
    text-align: center;
    align-items: center;
    height: 20vw;
    width: 100%;
    
}

.header img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.title {
    
    text-align: center;
    position: absolute;
    top: 5.5vw;
    width: 100%;
    margin: auto;
    transform: scale(0.8);
    font-size: 2vw;
    font-family: "hwt-mardell", sans-serif;
    letter-spacing: 1vw;
    color: #bdd7e9f3;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.subtitle {

    position: absolute;
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 1vw;
    font-weight: bold;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background-color: #f0b9c4;


}

.menu {

    text-align: left;
    width: 100%;
    padding: 4vw;

}

.menu h2 {

    font-size: 1.5vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #da7685e9;
    text-align: center;
    margin: 3vw auto;

}

.item-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
    width: 85%;
    box-sizing: border-box;
    cursor: none;

}

.item {
    
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px;
    background-color: #fffdfc;
    border: 4px solid #fffdfc;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.2s;
    cursor: none;

}

.item:hover {
    transform: scale(1.03);
    border: 4px solid #e092a6;  
}

.box {

    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    border: 0px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    overflow: hidden;

}

.box img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.name {

    font-size: 1.5vw;
    font-weight: bold;
    color: #a24262;
    text-align: left;
    white-space: nowrap;

}

.desc {

    font-size: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #c86e85;
    white-space: normal;

}

.footer {

    position: relative;
    width: 49vw;
    /* left: 15vw; */
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 0.5vw;
    padding-top: 1.5vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 5vw;
    font-size: 1vw;
    font-family: monospace;
    font-weight: bold;
    color: #c07a95;
    background-color: white;

}

.footer p {
    display: inline;
    margin-right: 1vw;
}

.okbutton {

    appearance: none;
    background-color: white;
    border: 0px solid;
    border-radius: 5px;
    box-sizing: border-box;
    color: #c07a95;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8vw;
    font-weight: bold;
    margin-bottom: 1vw;
    padding: 5px;
    text-align: center;

}

.okbutton:hover {
    
  color: #fff;
  background-color: #c07a95;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  cursor: none;

}

.purchase {
    text-align: left;
    height: 34vw;
    width: 100%;
    padding: 4vw;
    display: none;
}

/* puchased cookie display */

.cookieDisplay {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.thankyou {

    width: 55%;
    text-wrap: wrap;
    line-height: 2;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: monospace;
    color: #eb95ab;
    text-align: center;
    margin: auto;
    margin-top: 3vw;
    animation: fade 0.5s forwards;
    transition: 0.5s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* image container */

.cookieDisplay .cookieimg {
    width: 20vw;
    height: 20vw;
    object-fit: contain;
    margin: auto;
    margin-top: 3vw;
    cursor: url("assets/tag.cur"), auto;
    animation: slide 0.5s forwards;
    transition: 0.5s ease-in-out;
}

@keyframes slide {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0%);
    }
}

.cookieDisplay .bagcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.cookieDisplay .bagcontainer img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    animation: grow 3s forwards;
    position: absolute;
    top: 20%;
    left: 25%;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(0);
    }
    18% {
        transform: scale(1.05);
    }
    20% {
        transform: scale(1);
    }
    88% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(0);
    }
}


.bottom-container {

    background-color: transparent;
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;

}

/* receipt button */

.receiptbutton {

    position: relative;
    /* left: 15vw; */
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(-15px);
    margin-bottom: 3vw;
    border: 0px solid;
    font-size: 1vw;
    font-weight: bold;  
    font-family: monospace;
    color: #ffffff;
    background-color: transparent;
    cursor: no-drop;
}

.receiptbutton:hover {
    color: #ad6862;
}

.receipt-icon {
    width: 3vw;
    height: 3vw;
    object-fit: contain;
}

/* stats ==================== */

.stats {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stats {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.receipt-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    animation: slide 0.5s forwards;
    
}

.statsreceipt { /* svg file */
    width: 70%;
    height: auto;
    object-fit: contain;
    margin: auto;
    margin-top: 15%;
    margin-bottom: -50%;
}

.stats-container {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -15vw;
    background-color: transparent;
    overflow: auto;

}

.receipt-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3vw;
    padding: 0px;
    background-color: transparent;
}

.receipt-top p {
    font-size: 1.5vw;
    font-weight:lighter;
    font-family: monospace;
    text-align: left;
    letter-spacing: 1vw;
    color: #ffffff;
}

.return {
    font-size: 1vw;
    font-weight: normal;
    font-family: monospace;
    text-align: right;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #a4c8e5;
    padding: 0.5vw 1.5vw;
    pointer-events: auto;
}

.return:hover {
    color: #a4c8e5;
    background-color: white;
    cursor: none;
    transform: translateY(-0.3vw);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
    transition: 0.1s ease-in-out;
}

.receipt-middle {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 1vw;
    width: 100%;
    padding: 2vw 0;
    gap: 1vw;
    font-size: 1.3vw;
    font-weight: bold;
    font-family: monospace;
    gap: 1.5vw;
    margin-bottom: 1.5vw;
    color: #7693AB;

}

#cookiename {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1vw;
}

#satisfaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1vw;
}

.stats-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 5vw;
    width: 100%;
    padding: 4vw 3.5vw;
    gap: 2vw;
    background-color: #f6fbff;
    font-size: 1vw;
    font-weight: light;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #506E87;

}

.progress {
    width: 70%;
    border-radius: 10px;    
    height: 1vw;
}

.progress::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 0px;
}

.progress::-webkit-progress-value {
    background-color: #FFEEE0;
    border-radius: 0px;
}

#aroma {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#crunch {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#flavor {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 1vw;
    width: 100%;
    padding: 1vw 0;
    margin: 2vw 0;
    background-color: #ffffff;
    font-size: 1.2vw;
    font-weight: bold;
    font-family: monospace;
    color: #e7a099;
}